/*======================================================

    Pattern 7-1 SASS;
    Header
    © Check repository license

   This document is just a sample of a Header. It's 
   important to remember that the file is just a sample  
   and does not contain any content inside a real page on 
   this repository.

======================================================*/

/*======================================================
    © Header
======================================================*/
.header {
  height: 8vh;
}
